* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
  }

.navbar {
    background-color: #f8f9fa; /* Custom light grey background */
    padding: .5rem 1rem;
    margin-bottom: 20px;
}

.navbar .container-fluid {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-brand {
    color: #333;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    margin-right: 1rem; /* Space between brand links */
}

.navbar-brand:hover {
    color: #000;
}

/* Optional: Styles for search form if you want to include it */
.nav-item form {
    display: flex;
}

.nav-item input[type="search"] {
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-right: .5rem; /* Space between input and button */
}

.nav-item button {
    padding: .375rem .75rem;
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

.nav-item button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.button-style {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white; /* Text color */
    margin-bottom: 20px; /* Spacing between buttons */
    background-color: #007bff; /* Blue color */
}

/* Hover effect */
.button-style:hover {
    background-color: #0056b3; /* Darker blue on hover */
}