{% extends 'layout.html' %}

{% block title %}
Comedy
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Drama:</h1>
    <p>A World Full of Laughter and Wit.</p>
    <p>Embark on a journey through hilarity and satire.     </p>
    <a href="/introduction-details" class="btn btn-primary">Introduction & Details</a>
    <p> </p>
    <h2 class="title">Find the comedy that tickles your fancy and leaves you roaring with laughter!    </h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BOGQ1YmM5OWUtY2VmOS00NWU2LWE3NzQtNjY5ZDQ3OTZiYzQyXkEyXkFqcGdeQXVyNzkyMDA5MTc@._V1_FMjpg_UX1000_.jpg" class="card-img-bot" alt="heathers">
                    <div class="card-body">
                        <h5 class="card-title title">Heathers</h5>
                        <a href="/discover_your_show/musicals" class="btn btn-primary">View Details</a>
                    </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR17n6EIQV-lrsXrRjSe0Rb8hzvXdx1ZNdI1xWinZqXhMrRgcIL5o1mHAAUa2WvMQZ4q-A&usqp=CAU" class="card-img-bot" alt="shucked">
                    <div class="card-body">
                        <h5 class="card-title">Shucked</h5>
                        <a href="/discover_your_show/musicals" class="btn btn-primary">View Details</a>
                    </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://www.broadway.org/logos/shows/bom2022keyart.jpg" class="card-img-bot" alt="mormon">
                    <div class="card-body">
                        <h5 class="card-title title">Book of Mormon</h5>
                        <a href="/discover_your_show/musicals" class="btn btn-primary">View Details</a>
                    </div>
            </div>
        </div>
        
        </div>
</div>
{% endblock %}