{% extends 'layout.html' %}

{% block title %}
Death of a Salesman
{% endblock %}

{% block content %}
<style>
    body {
        background-color: rgb(242, 246, 238);
    }
    .btn:hover {
        background-color: orange !important; /* Button color change on hover */
        color: white !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title" style="text-align: center;">Death of a Salesman</h1>
            <div class="separator-bar" style="height: 3px; background-color: darkgray; margin: 15px 0;"></div>

            <p class="show-text" style="font-size: 21px;">
                "Death of a Salesman" is a timeless classic of American theatre, written by Arthur Miller. It explores themes of the American Dream, family dynamics, and the human condition. The play follows Willy Loman, a traveling salesman, as he grapples with the reality of his life and the disillusionment of his dreams.
            </p>
            <p class="show-text" style="font-size: 21px; text-align: left;">
                <strong style="font-size: 22px;">What You'll Discover:</strong><br>
                - <strong>Story:</strong> A poignant exploration of the complexities of the American Dream and its impact on individuals and families.<br>
                - <strong>Characters:</strong> Meet Willy Loman and his family, whose struggles and aspirations resonate with audiences worldwide.<br>
                - <strong>Themes:</strong> Delve into the universal themes of identity, disillusionment, and the pursuit of success.<br>
                - <strong>Legacy:</strong> Learn about the enduring influence of "Death of a Salesman" on theatre and literature.
            </p>
        </div>
        
        <div class="col-md-8">
            <div class="video-container" style="position: relative; padding-bottom: 70%; height: 0; overflow: hidden;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/vQmTUFAf6o0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="col-md-4 buttons-container">
            <!-- Replace `#` with your actual links -->
            <p class="info" style="background-color: lightgray;">
                <strong style="font-size: 23px;">Instructions for Exploration:</strong><br>
                1. Watch the Trailer: Get a glimpse of the show's themes and performances.<br>
                2. Cast & Crew: Learn about the talented actors and production team behind the Broadway production.<br>
                3. Reviews: Read critiques and audience reactions to "Death of a Salesman."<br>
                4. Tickets: Find out how you can experience this powerful drama live.
            </p>
            <a href="https://www.thehudsonbroadway.com/events/death-of-a-salesman/" class="btn" style="background-color: yellow; color: black;">Official Website</a>
            <a href="https://www.imdb.com/title/tt0089006/fullcredits" class="btn" style="background-color: yellow; color: black;">Cast & Crew</a>
            <a href="https://www.newyorker.com/books/page-turner/death-of-a-salesman-a-heartbreaking-work-of-staggering-mediocrity" class="btn" style="background-color: yellow; color: black;">Reviews</a>
            <a href="https://www.thehudsonbroadway.com/events/" class="btn" style="background-color: yellow; color: black;">Tickets</a>
        </div>
    </div>
    <div class="navigation-btns">
        <a href="/discover_your_show/drama" class="btn" style="margin-bottom: 15px; background-color: rgb(67, 68, 66); color: yellow;">Back to Discover More Drama</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
