{% extends 'layout.html' %}

{% block title %}
Drama
{% endblock %}

{% block content %}
<div class="container">
    <h1>Drama:</h1>
    <p>A Stage Where Every Word Resonates.</p>
    <p>Step into the realm of compelling narratives and powerful dialogues.     </p>
    <a href="/introduction-details" class="btn btn-primary">Introduction & Details</a>
    <p> </p>
    <h2>Uncover the play that speaks to your soul!    </h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://www.broadway.org/logos/shows/deathofasalesman-2022.jpeg" class="card-img-bot" alt="death">
                    <div class="card-body">
                        <h5 class="card-title">Death of a Salesman</h5>
                        <a href="/discover_your_show/musicals" class="btn btn-primary">View Details</a>
                    </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://www.broadway.org/logos/shows/enemyoftheppl-2024update.png" class="card-img-bot" alt="enemy">
                    <div class="card-body">
                        <h5 class="card-title">An Enemy of the People</h5>
                        <a href="/discover_your_show/musicals" class="btn btn-primary">View Details</a>
                    </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://visitortixstorage.blob.core.windows.net/files/images/products/original_broadway-doubtrtc20231107155323" class="card-img-bot" alt="doubt">
                    <div class="card-body">
                        <h5 class="card-title">Doubt</h5>
                        <a href="/discover_your_show/musicals" class="btn btn-primary">View Details</a>
                    </div>
            </div>
        </div>
        
        </div>
</div>
{% endblock %}