{% extends 'layout.html' %}

{% block title %}
Find Tickets
{% endblock %}

{% block content %}
<style>
  body {
      background-color: rgb(242, 246, 238);
      font-family: "Playfair Display", serif;
  }
</style>
<div class="container">
 
    <h1 class="title">Learn To Find Tickets</h1>
    <p class="intro-text" style="font-size: 24px;">Explore the best ways to secure tickets for an enhanced Broadway experience. Click on a section below to learn more about each ticket-buying method and find the right one for your needs.</p>
    
    <button class="accordion">Official Ticket Sources</button>
    <div class="panel" >
      <p><strong>- Your Path to the Show</strong></p>
      <ol>
        <li><strong>Search:</strong> Begin by <span>searching for the show's name on Google or on <a href="https://www.telecharge.com/" target="_blank" style="color: rgb(255, 132, 0); text-decoration: underline;">Telecharge</a>.</span></li>
        <li><strong>Official Website:</strong> Visit the show’s <span style="color: rgb(255, 132, 0);">official website</span> for reliable details and secure ticket purchases.</li>
        <li><strong>Best Seats:</strong> Choose your seats on the official site. Look for <span style="color: rgb(255, 132, 0);">'Best Value'</span> or <span style="color: rgb(255, 132, 0);">'Discount'</span> tags to save money.</li>
        <li><strong>Checkout Security:</strong> Ensure secure checkout by verifying the URL and the lock icon in the address bar during payment.</li>
        <li><strong>Confirmation:</strong> Complete your purchase and receive a <span style="color: rgb(255, 132, 0);">confirmation email</span> with your tickets.</li>
        <p></p>
      </ol>
    </div>

    <button class="accordion">Ticket Lotteries</button>
    <div class="panel">
        <p><strong>- Your Chance for the Spotlight</strong></p>
        <ol>
          <li>Review shows offering digital lotteries. Select your favorites and <span style="color: rgb(255, 132, 0);">visit their lottery websites.</span></li>
          <li>Enter the lottery by clicking <span style="color: rgb(255, 132, 0);">'Enter Lottery'</span> and submitting your entry.</li>
          <li>Lottery entries typically close <span style="color: rgb(255, 132, 0);">24-48 hours</span> before the show. Watch your email for results.</li>
          <li>If you win, you will be notified a few hours before the show. Follow the instructions in <span style="color: rgb(255, 132, 0);">your winner’s email</span> to purchase your tickets.</li>
          <img src="https://imaging.broadway.com/images/regular-43/w800/125576-9.jpg" alt="lott Image" style="max-height: 300px; width: 45%; display: inline-block; margin: 10px 0.5%; align-self: center;">
          <p></p>
        </ol>
    </div>

    <button class="accordion">Rush Tickets & Standing Room Only (SRO)</button>
    <div class="panel">
      <img src="/static/bway.png" alt="Broadway Image" style="height: 300px; width: 45%; display: inline-block; margin: 10px 0.5%;">
      <img src="https://i0.wp.com/newyorktheater.me/wp-content/uploads/2023/05/Once_Rush.jpeg?resize=870%2C653&ssl=1" alt="Rush Image" style="max-height: 300px; width: 45%; display: inline-block; margin: 10px 0.5%;">
      <p><span style="color: rgb(255, 132, 0);">Rush tickets</span> are available on the day of the performance, often when the box office opens. They are discounted but limited, and are usually <span>first-come, first-served.</span></p>
      <p>For sold-out shows, <span style="color: rgb(255, 132, 0);">SRO tickets</span> are available at a discount in a <span>designated standing area.</span> These are typically sold directly from the box office on the day of the show.</p>
  </div>

    <button class="accordion">More if you want</button>
    <div class="panel">
      <p><a href="https://www.telecharge.com/" target="_blank" style="color: rgb(255, 132, 0);">Telecharge</a>: The official site for theatre tickets.</p>
      <p><a href="https://www.todaytix.com/" target="_blank" style="color: rgb(255, 132, 0);">TodayTix</a>: An app that offers discounted and full-price last-minute tickets. You can enter lotteries, purchase rush tickets, and even get tickets for shows weeks in advance. It’s a convenient, mobile-first approach to getting Broadway tickets.</p>
      <p><a href="https://www.stubhub.com/" target="_blank" style="color: rgb(255, 132, 0);">StubHub</a>, <a href="http://seatgeek.com/" target="_blank" style="color: rgb(255, 132, 0);">SeatGeek</a>, and <a href="http://www.vividseats.com/" target="_blank" style="color: rgb(255, 132, 0);">Vivid Seats</a>: These platforms sell tickets from individuals or brokers, often at a markup. While you might find tickets to sold-out shows, be prepared to pay above face value. Always use reputable sites to avoid scams.</p>
      <p><a href="https://bwayrush.com/" target="_blank" style="color: rgb(255, 132, 0);">B’Way Rush</a>: A dedicated website providing information about rush ticket policies, availability, and tips for purchasing rush tickets for Broadway productions.</p>
    </div>

    <button class="accordion">Last Step</button>
    <div class="panel">
    <p>If you <span style="text-decoration: underline; color: red;">HAVE NOT</span> already, go back to <a href="{{ url_for('discover_your_show') }}" target="_blank" style="color: rgb(255, 132, 0);">Discover Your Show</a> to learn more about broadway shows.</p>
    <p> If you <span style="text-decoration: underline; color: red;">HAVE</span> done so then go <a href="{{ url_for('quiz', quiz_id=1) }}" target="_blank" style="color: rgb(255, 132, 0);">Start the Quiz</a> to test your knowledge!</p>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
              panel.style.marginTop = "1px";
              panel.style.marginBottom = "1px";
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
              panel.style.marginTop = "20px";
              panel.style.marginBottom = "20px";
            } 
          });
        }
        </script>        
</div>
{% endblock %}