{% extends 'layout.html' %}

{% block title %}
Hadestown
{% endblock %}

{% block content %}
<style>
    body {
        background-color: rgb(242, 246, 238);
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;
    }
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .btn {
        background-color: yellow;
        color: black;
        padding: 10px 10px;
        border: none;
        text-decoration: none;
        font-size: 15px;
        display: inline-block;
    }
    .btn:hover {
        background-color: #ffd700;
        color: white;
    }
    .separator-bar {
        height: 3px;
        background-color: darkgray;
        margin: 15px 0;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title" style="text-align: center;">Hadestown: The Myth. The Musical.</h1>
            <div class="separator-bar"></div>

            <p class="show-text" style="font-size: 23px;">
                "Hadestown" intertwines two mythic tales — that of young dreamers Orpheus and Eurydice, and that of King Hades and his wife Persephone — as it invites you on a hell-raising journey to the underworld and back. This innovative musical is a haunting and hopeful theatrical experience that grabs you and never lets go.
            </p>
            <p class="show-text" style="font-size: 21px; text-align: left;">
                <strong style="font-size: 22px;">What You'll Discover:</strong><br>
                - <strong>Story:</strong> Explore the reimagined Greek myths woven into a compelling narrative.<br>
                - <strong>Music and Lyrics:</strong> Experience the vibrant and soulful music by Anaïs Mitchell.<br>
                - <strong>Impact:</strong> Understand the unique staging and direction that have made "Hadestown" a modern classic.
            </p>
        </div>

        <div class="col-md-8">
            <div class="video-container" style="position: relative; padding-bottom: 70%; height: 0; overflow: hidden;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/uWDwy2lAFFo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-md-4 buttons-container">
            <p class="info" style="background-color: lightgray; padding: 20px;">
                <strong class="show-text" style="font-size: 23px;">Instructions for Exploration:</strong><br>
                1. Watch the Trailer: Get a glimpse of the show's powerful atmosphere.<br>
                2. Official Website: Visit "Hadestown's" official website for more details.<br>
                3. Cast & Creative: Meet the talented team behind this epic production.<br>
                4. Reviews: Read insights from critics and fans.<br>
                5. Tickets: Find out where you can experience the show live.
            </p>
            <a href="https://www.hadestown.com" class="btn">Hadestown Official Website</a>
            <a href="https://www.hadestown.com/cast-creative/" class="btn">Cast & Creative</a>
            <a href="https://www.nytimes.com/2019/04/17/theater/hadestown-review.html" class="btn">Hadestown Reviews</a>
            <a href="https://www.hadestown.com/tickets/" class="btn">Hadestown Tickets</a>
        </div>
    </div>
    <div class="navigation-btns">
        <a href="/discover_your_show/musicals" class="btn" style="margin-bottom: 15px; background-color: rgb(67, 68, 66); color: yellow;">Back to Discover Musicals</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
