{% extends 'layout.html' %}

{% block title %}
Musicals
{% endblock %}

{% block content %}
<style>
    body {
        background-color: rgb(242, 246, 238);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Hamilton: An American Musical</h1>
            <div class="separator-bar" style="height: 3px; background-color: darkgray; margin: 15px 0;"></div>

            <p style="font-size: 21px;">
                "Hamilton" is a revolutionary moment in theatre – this musical blends hip-hop, jazz, R&B, and traditional Broadway to create a contemporary retelling of Alexander Hamilton's journey. Lin-Manuel Miranda's masterpiece has captivated audiences with its vibrant score and dynamic storytelling.
            </p>
            <p style="font-size: 21px;">
                <strong style="font-size: 22px;">What You'll Discover:</strong><br>
                - <strong>Story:</strong> A narrative that chronicles the life of immigrant and Founding Father Alexander Hamilton.<br>
                - <strong>Music and Lyrics:</strong> Experience the groundbreaking fusion of various musical styles.<br>
                - <strong>Impact:</strong> Understand how "Hamilton" has changed the landscape of modern musical theatre.
            </p>
        </div>
        
        <div class="col-md-8">
            <div class="video-container" style="position: relative; padding-bottom: 70%; height: 0; overflow: hidden;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/49Sn-6gPnwM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="col-md-4 buttons-container">
            <!-- Replace `#` with your actual links -->
            <p class="info" style="background-color: lightgray;">
                <strong style="font-size: 23px;">Instructions for Exploration:</strong><br>
                1. Watch the Trailer: Get a glimpse of the show's energy and spirit.<br>
                2. Official Website: Visit the official "Hamilton" website for in-depth information.<br>
                3. Cast & Creative: Learn about the talented individuals who bring the world of "Hamilton" to life.<br>
                4. Reviews: Read what critics and fans alike have to say.<br>
                5. Tickets: Find out how you can witness this monumental show live.
            </p>
            <a href="https://hamiltonmusical.com/new-york/?gad_source=1&gclid=CjwKCAjw_LOwBhBFEiwAmSEQAS6ZFAcTQLrmLo_0REHboC2KeSJxF4AkDKi7bvOulxyN9BzTaTJ-axoCr8wQAvD_BwE" class="btn" style="background-color: yellow; color: (67, 68, 66);">Hamilton Official Website</a>
            <a href="https://hamiltonmusical.com/new-york/cast/" class="btn" style="background-color: yellow; color: (67, 68, 66);">Cast & Creative</a>
            <a href="https://www.nytimes.com/2015/08/07/theater/review-hamilton-young-rebels-changing-history-and-theater.html" class="btn" style="background-color: yellow; color: (67, 68, 66);">Hamilton Reviews</a>
            <a href="https://hamiltonmusical.com/new-york/tickets/" class="btn" style="background-color: yellow; color: (67, 68, 66);">Hamilton Tickets</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}