{% extends 'layout.html' %}

{% block title %}
Spotlight Savings: Navigating Broadway Gems & Deals
{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons-center" style="display: flex; flex-direction: column; align-items: center; margin-top: 20%;">
        <!-- Header tag with the title -->
        <h1>Spotlight Savings: Navigating Broadway Gems & Deals</h1>

        <!-- Button to Discover Your Show -->
        <button class="button-style" onclick="window.location.href='{{ url_for('discover_your_show') }}'">
            Discover Your Show
        </button>

        <!-- Add some spacing between the buttons -->
        <div style="margin: 20px;"></div>

        <!-- Button to Find Tickets -->
        <button class="button-style" onclick="window.location.href='{{ url_for('find_tickets') }}'">
            Find Tickets
        </button>
    </div>
</div>
{% endblock %}
