<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

  <title>{% block title %}Spotlight Savings{% endblock %}</title>
  <!-- Additional head content can be added by child templates -->
  {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">Spotlight Savings</a>
            <a class="navbar-brand" href="{{ url_for('discover_your_show') }}">Discover Your Show</a>
            <a class="navbar-brand" href="{{ url_for('find_tickets') }}">Find Tickets</a>
            <a class="navbar-brand" href="{{ url_for('quiz', quiz_id=1) }}">Start Quiz</a>

        </div>
    </nav>


    <!-- Content unique to each page -->
    {% block content %}{% endblock %}

    <!-- Scripts can be added by child templates -->
    {% block scripts %}{% endblock %}
</body>
</html>
