{% extends 'home.html' %}

{% block title %}Quiz Question{% endblock %}
{% block head %}
       <link rel="stylesheet" href="{{ url_for('static', filename='quiz_styles.css') }}">
{% endblock %}
{% block content %}
<div class="quiz-container">
    <div id="question-card" class="card">
        <h1>Question</h1>
        <p>{{ quiz.question }}</p>
        <form id="quiz-form" method="POST">
            <div class="options-container">
                {% for option in quiz.options %}
                <label class="option">
                    <input type="radio" name="option" value="{{ option }}" id="{{ option }}" {{ 'checked' if response == option else '' }}>
                    <span class="checkmark"></span>
                    <span class="option-text">{{ option }}</span>
                </label>
                {% endfor %}
            </div>
            <button type="submit" id="submit-btn">Submit</button>
        </form>
    {% if quiz_id > 1 %}
        <a href="{{ url_for('quiz', quiz_id=quiz_id-1) }}" class="prev-next-btn">Previous</a>
    {% endif %}
    {% if quiz_id < total_quizzes %}
        <a href="{{ url_for('quiz', quiz_id=quiz_id+1) }}" class="prev-next-btn">Next</a>
    {% else %}
        <a href="{{ url_for('results') }}" class="prev-next-btn">See Results</a>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
            let submitButton = document.getElementById('submit-btn');
            let radioButtons = document.querySelectorAll('input[type="radio"]');
            radioButtons.forEach(function(radio) {
                radio.addEventListener('change', function() {
                    submitButton.classList.add('active');
                });
            });
        });
</script>
{% endblock %}
