{% extends 'layout.html' %}

{% block title %}Quiz Question{% endblock %}
{% block head %}
       <link rel="stylesheet" href="{{ url_for('static', filename='quiz_styles.css') }}">
{% endblock %}
{% block content %}
<div id="c">
    <div class="sidebar">
   <h2>Quiz Progress</h2>
   <ul>
       {% for id, data in progress.items() %}
       <li>
           <a href="{{ url_for('quiz', quiz_id=id) }}" class="quiz-link">
               Quiz {{ id }}:
               {% if data.completed %}
               Completed (Answer: {{ data.user_answer }})
               {% else %}
               Not completed
               {% endif %}
           </a>
       </li>
       {% endfor %}
   </ul>
</div>

    <div class="quiz-container">
        <div id="question-card" class="card">
            <h1 class="title">Question {{ quiz_id }}</h1>
            <p>{{ quiz.question }}</p>
            <form id="quiz-form" method="POST">
                <div class="options-container">
                    {% for option in quiz.options %}
                    <label class="option">
                        <input type="radio" name="option" value="{{ option }}" id="{{ option }}" {{ 'checked' if response == option else '' }}>
                        <span class="checkmark"></span>
                        <span class="option-text">{{ option }}</span>
                    </label>
                    {% endfor %}
                </div>
                <div class="button-container">
                    {% if quiz_id > 1 %}
                    <button type="button" class="prev-next-btn" onclick="location.href='{{ url_for('quiz', quiz_id=quiz_id-1) }}'">Previous</button>
                    {% endif %}
                    <button type="submit" id="submit-btn">Submit & Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
            let submitButton = document.getElementById('submit-btn');
            let radioButtons = document.querySelectorAll('input[type="radio"]');
            radioButtons.forEach(function(radio) {
                radio.addEventListener('change', function() {
                    submitButton.classList.add('active');
                });
            });
        });
</script>
{% endblock %}
